<a href="https://colab.research.google.com/github/PedroDubas/Batalha_dados_Fia/blob/master/car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [0]:
pd.set_option('display.max_rows', 500)

In [0]:
dados = pd.read_csv('BRAZIL_CITIES.csv', sep = ',')

In [0]:
dados.head()

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL.MART,POST_OFFICES
0,São Paulo,SP,1,11253503.0,11133776.0,119727.0,3576148.0,3548433.0,27715.0,10463636.0,...,8.0,1.947077e+13,2.893261e+12,5740995.0,1134570.0,3236.0,1.0,130.0,7.0,225.0
1,Osasco,SP,0,666740.0,664447.0,2293.0,202009.0,202009.0,NaN,616068.0,...,2.0,6.732330e+12,1.321699e+10,283641.0,73477.0,174.0,NaN,7.0,1.0,10.0
2,Rio De Janeiro,RJ,1,6320446.0,6264915.0,55531.0,2147235.0,2147235.0,NaN,5426838.0,...,5.0,2.283445e+12,9.738864e+11,2039930.0,363486.0,289.0,1.0,68.0,1.0,120.0
3,Brasília,DF,1,2570160.0,2564370.0,5790.0,774820.0,751558.0,23261.0,2450634.0,...,4.0,2.920933e+11,8.016164e+12,1288107.0,211392.0,594.0,1.0,28.0,1.0,60.0
4,Porto Alegre,RS,1,1409351.0,1403450.0,5901.0,508503.0,508503.0,NaN,1339712.0,...,3.0,2.709619e+11,4.026997e+11,608777.0,106829.0,1383.0,1.0,19.0,12.0,53.0

In [0]:
del dados['CATEGORIA_TUR']
del dados['RURAL_URBAN']              
del dados['GVA_MAIN'] 
del dados['REGIAO_TUR']
del dados['CITY']

In [0]:
colunas = dados.columns

In [0]:
for i in colunas:
    missing = sum(dados[i].isnull())

    if missing != 0:
        mediana = dados[i].median()
        dados.loc[dados[i].isnull(), i] = mediana

In [0]:
for i in dados.columns:
    
    missing = sum(dados[i].isnull())
    print(i + '   :    ' + str(missing))

STATE   :    0
CAPITAL   :    0
IBGE_RES_POP   :    0
IBGE_RES_POP_BRAS   :    0
IBGE_RES_POP_ESTR   :    0
IBGE_DU   :    0
IBGE_DU_URBAN   :    0
IBGE_DU_RURAL   :    0
IBGE_POP   :    0
IBGE_1   :    0
IBGE_1.4   :    0
IBGE_5.9   :    0
IBGE_10.14   :    0
IBGE_15.59   :    0
IBGE_60.   :    0
IBGE_PLANTED_AREA   :    0
IBGE_CROP_PRODUCTION_.   :    0
IDHM.Ranking.2010   :    0
IDHM   :    0
IDHM_Renda   :    0
IDHM_Longevidade   :    0
IDHM_Educacao   :    0
LONG   :    0
LAT   :    0
ALT   :    0
PAY_TV   :    0
FIXED_PHONES   :    0
AREA   :    0
ESTIMATED_POP   :    0
GVA_AGROPEC   :    0
GVA_INDUSTRY   :    0
GVA_SERVICES   :    0
GVA_PUBLIC   :    0
GVA_TOTAL   :    0
TAXES   :    0
GDP   :    0
POP_GDP   :    0
GDP_CAPITA   :    0
MUN_EXPENDIT   :    0
COMP_TOT   :    0
COMP_A   :    0
COMP_B   :    0
COMP_C   :    0
COMP_D   :    0
COMP_E   :    0
COMP_F   :    0
COMP_G   :    0
COMP_H   :    0
COMP_I   :    0
COMP_J   :    0
COMP_K   :    0
COMP_L   :    0
COMP_M   :    0
COMP_N   :    0
COMP_O   :    0
COMP_P   :    0
COMP_Q   :    0
COMP_R   :    0
COMP_S   :    0
COMP_T   :    0
COMP_U   :    0
HOTELS   :    0
BEDS   :    0
Pr_Agencies   :    0
Pu_Agencies   :    0
Pr_Bank   :    0
Pu_Bank   :    0
Pr_Assets   :    0
Pu_Assets   :    0
Cars   :    0
Motorcycles   :    0
Wheeled_tractor   :    0
UBER   :    0
MAC   :    0
WAL.MART   :    0
POST_OFFICES   :    0

In [0]:
dados['Cars'].corr(dados['FIXED_PHONES'])

0.99228521735369524

In [0]:
dados['Cars'].corr(dados['GDP'])

0.95642851461681644

In [0]:
dados['Cars'].corr(dados['PAY_TV'])

0.97422060141959799

In [0]:
y = dados.Cars

In [0]:
df = dados

In [0]:
x = pd.concat([df[['GDP', 'POP_GDP', 'GDP_CAPITA', 'FIXED_PHONES', 'PAY_TV']], pd.get_dummies(df.STATE)], axis=1)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [0]:
lr = LinearRegression()

In [0]:
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [0]:
predictions = lr.predict(x_test)

In [0]:
mse = mean_squared_error(y_test, predictions)
print("MSE: %.4f" % mse)
r2 = r2_score(y_test, predictions)
print("R2: %.4f" % r2)

MSE: 46799925.8642
R2: 0.9519